body{
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}

.movies-contianer .card{
  width: 15rem;
  margin: 1.2rem;
  background-color: rgb(0, 0, 0);
}

.movies-contianer .card .card-footer .movies-footer-list .list-group-item{
  background-color: rgb(0, 0, 0);
  color: #FFF;
}
.movies-contianer .card .card-footer .movies-footer-list .list-group-item:nth-child(2){
  color: orange;
}


.movie-vote_average{
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.637);
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  padding: 1px;
}
.movie-vote_average p{
  font-size: .9rem;
  margin-top: .2rem;
}
.movies-type-list .list-group-item{
  background-color: black;
  color: #FFF;
  cursor: pointer;
}
.active {
  background-color: black !important;
  border-color: black !important;
  border-bottom: 2px solid orange !important;
  color: orange !important;
  outline: none !important;
}

.search-input{
  background-color: rgb(63, 63, 63) !important;
  border-color: rgb(61, 61, 61) !important;
}